.log-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-item i {
    cursor: pointer;
}

.card-header{
    // background-color: var(--primary);
    color:black;
    font-size: large;
    font-weight: bold;


  }