a{
    color: black;
}

.card-header{
    // background-color: var(--primary);
    color:black;
    font-weight: bold;
    font-size: large;

  }
  .log-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}