<div style="
padding: 10px;
box-shadow: 5px 5px 5px 5px #c8cfcc;" [ngClass]="headerContainerCssClasses"
  class="d-flex align-items-center justify-content-between" id="kt_header_container">
  <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-start" style="font-size: 14px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" routerLinkActive="here show" >
      <ul class="navbar-nav">
        <li *ngFor="let menuItem of menuItems" class="nav-item"
          [ngClass]="{ 'has-submenu': menuItem.children?.length > 0 }" (mouseenter)="toggleSubMenu(menuItem)"
          (mouseleave)="toggleSubMenu(menuItem)">
          <!--  Main menu item  -->
          <a class="nav-link btn btn-active-primary btn-color-gray-500 fw-bold" [routerLink]="menuItem.actionURL"
            (click)="openSubMenu(menuItem)" style="font-size: 14px;">
            <i [class]="menuItem.cssClassIcon"></i> {{ menuItem.menuName }}
          </a>

          <!-- Submenu (inside a card-like container)  -->
          <div *ngIf="menuItem.children?.length > 0 && menuItem.isOpen" class="submenu-card mt-0"
            style="position: absolute; left: 2; z-index: 100;">
            <div class="card mt-0 " style="width: 200px;
            padding: 10px;
            box-shadow: 5px 10px 8px 10px #e5ebe8;">
              <div class="card-body">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a *ngFor="let subMenu of menuItem.children" class="nav-link fw-bold"
                      [routerLink]="subMenu.actionURL" [title]="subMenu.menuName" (click)="onSubMenuClick(subMenu)"
                      [ngStyle]="{
                         'color': activeSubMenu === subMenu.menuId ? '#04b440' : (hoveredSubMenu === subMenu.menuId ? '#04b440' : 'gray')
                       }" (mouseenter)="onSubMenuHover(subMenu.menuId)" (mouseleave)="onSubMenuLeave()">
                      <i [class]="subMenu.cssClassIcon.trim()"></i>
                      {{ subMenu.menuName }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <app-page-title #ktPageTitle
    class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap mt-n5 mt-lg-0 me-lg-2 pb-2 pb-lg-0"
    data-kt-swapper="true" data-kt-swapper-mode="prepend"
    data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}"></app-page-title>

  <!-- begin::Wrapper -->
  <div class="d-flex d-lg-none align-items-center ms-n2 me-2">
    <!--begin::Aside mobile toggle-->
    <div class="aside-toggle btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
      <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'" class="svg-icon svg-icon-1"></span>
    </div>
    <!--end::Aside mobile toggle-->
    <!--begin::Logo-->
    <a routerLink="/dashboard" class="d-flex align-items-center">
      <img alt="Logo" src="./assets/media/logos/focus.jpg" class="h-30px" />
    </a>
    <!--end::Logo-->
  </div>
  <!-- end::Wrapper -->


  <app-topbar class="d-flex flex-shrink-0"></app-topbar>
</div>